@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Tutorial Case
   
   Author: Nikita Baiborodov
   Date: 09/21/2025
   
   Filename: tf_flex.css
   
   This file contains the flex styles used in the Trusted Friends
   Pre-K Classes page.

*/


/* ================
   Base Flex Styles
   ================
*/
body {
    display: -webkit-flex; /* для старых WebKit */
    display: flex;
    -webkit-flex-flow: row wrap; /* направление + перенос */
    flex-flow: row wrap;
}

/* =========================
   Mobile Styles: 0 to 480px 
   =========================
*/

@media only screen and (max-width: 480px) {
  

 
}

/* ============================================
   Tablet and Desktop Styles: 481px and greater 
   ============================================
*/

@media only screen and (min-width: 481px) {



}


